@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

@import 'vidstack/player/styles/default/theme.css';
@import 'vidstack/player/styles/default/layouts/video.css';

section {
    padding: 40px 0;
}

.larger-icon {
    font-size: 10rem;
}

.header-wrapper {
    height: 70vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(121, 79, 177, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: #FFF;
    display: table;

    div {
        display: table-cell;
        vertical-align: middle;
    }
}

.main-navbar {
    background-color: #712cf9 !important;
}

.minor-header-wrapper {
    height: 200px;
    width: 100%;
    background-color: #82b440;
    color: #FFF;
    display: table;
}

.purple-bg {
    background-color: rgba(121, 79, 177, 1);

    .nav-link {
        color: #FFF;
    }
}

.questions-wrapper {
    background-color: #82b440;
    color: #FFF;
}

.title-link {
    color: var(--bs-body-color);
    text-decoration: none;

    h2 {
        margin-top: 3rem !important;
        margin-bottom: 2rem !important;
    }

    &:hover {
        :after {
            content: ' #';
            margin-left: 10px;
            color: blue;
        }
    }
}

.changelog {
    h2, h3 {
        margin-top: 30px;
    }

    h2 {
        border-bottom: 1px solid;
        padding-bottom: 7px;
    }

    h3 {
        font-size: 1.45rem;
    }
}

#docs-menu {
    .bi {
        display: inline-block;
        width: 1.4rem;
    }

    a {
        color: #000;
        padding: .1875rem .5rem;
        margin-top: .125rem;
        margin-left: 1.125rem;
        text-decoration: none;

        &.active {
            font-weight: 600;
            color: #000;
            border-radius: 0.375rem;
            background-color: rgba(112.520718,44.062154,249.437846, .1)
        }

        &:hover {
            color: #000;
            border-radius: 0.375rem;
            background-color: rgba(112.520718,44.062154,249.437846, .1)
        }
    }

    height: calc(100vh - 100px);
    overflow-y: auto;
}

.example {
    padding: 1px;

    .card {
        padding: 0;

        pre {
            margin-bottom: 0;
            margin: 0;
        }
    }

    .show-html {
        position: relative;
        overflow: hidden;
        text-align: left;
        transition: padding-right 0.5s;

        i {
            position: absolute;
            right: -20px;
            transition: right 0.5s;
        }

        &:hover {
            padding-right: 2rem;

            i {
                right: 0.5rem;
            }
        }
    }
}

#local-menu {
    li {
        a {
            padding: 3px 0 0 10px;
            border-left: .125rem solid transparent;

            &.active {
                color: #712cf9;
                font-weight: 500;
                border-left-color: #712cf9;
            }

            &:hover {
                color: #712cf9;
                border-left-color: #712cf9;
            }
        }
    }
}

.command {
    background-color: #e9ecef;
    padding: 15px;
}

footer a {
    color: #000;
    text-decoration: none;
}

/* Tema hightlight.js */

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    background: #f8f9fa;
}
.hljs-doctag, .hljs-meta-keyword, .hljs-strong {
    font-weight: bold
}
.hljs-code, .hljs-emphasis {
    font-style: italic;
}
.hljs-section, .hljs-tag {
    color: #c6303e;
}
.hljs-selector-class, .hljs-selector-id, .hljs-template-variable, .hljs-variable {
    color: #c6303e;
}
.hljs-meta-string, .hljs-string, .hljs-keyword, .hljs-title {
    color: #084298;
}
.hljs-attr, .hljs-quote, .hljs-selector-attr {
    color: #c6303e;
}
.hljs-tag .hljs-attr {
    color: inherit
}
.hljs-attribute, .hljs-type {
    color: #ffa
}
.hljs-number, .hljs-symbol {
    color: #d36363
}
.hljs-bullet, .hljs-template-tag {
    color: #b8d8a2
}
.hljs-built_in, .hljs-literal, .hljs-selector-tag {
    color: #fcc28c
}
.hljs-code, .hljs-comment, .hljs-formula {
    color: #888
}
.hljs-link, .hljs-selector-pseudo, .hljs-regexp {
    color: #c6b4f0
}
.hljs-meta {
    color: #fc9b9b
}
.hljs-deletion {
    background: #fc9b9b;
    color: #333
}
.hljs-addition {
    background: #a2fca2;
    color: #333;
}
.hljs-subst {
      color: #999;
}
